.timeline-element
{
  width: 10px;
  margin: 0 auto;
}

.classification-1{background-color:green;}
.classification-2{background-color:yellow;}
.classification-3{background-color:red;}

.circle
{
  border-radius: 100%;
  margin: 0 auto;
}
.affect
{
  margin-left: 25px;
}
.marker
{
  background-color: black;
  width: 15px;
  height: 15px;
}
.end
{
  margin-bottom: 10px;
}
#mapHolder
{
  margin-top: 25px;
  width: 100%;
  max-width: 320px;
  height: 200px;
  max-height: 20%;
}
main
{
  float: left;
  width: 320px;
}
#main-2
{
  margin-left: -320px;
  padding-left: 320px;
}
